{% load i18n %}
<!-- 
    <p>baidu_doc_id {self.baidu_doc_id}</p>
    <p class = "bucket_name">{self.bucket_name}</p> 
    <input  value= {self.user_defined_name} type="text">   
    <p >{self.user_defined_name}</p>   
-->


<!--[if lt IE 8]><script src="https://websdk.cdn.bcebos.com/bos/json3/lib/json3.min.js"></script><![endif]-->
<!--[if lt IE 9]><script src="https://websdk.cdn.bcebos.com/bos/js-polyfills/es5.js"></script><![endif]-->
<!--[if lt IE 10]><script src="https://websdk.cdn.bcebos.com/bos/moxie/bin/js/moxie.js"></script><![endif]-->


<!-- <script src="http://websdk.cdn.bcebos.com/bos/jquery/dist/jquery.min.js"></script>-->
<script src="http://websdk.cdn.bcebos.com/bos/bce-bos-uploader/bce-bos-uploader.bundle.js"></script> 

<div class="wrapper-comp-settings editor-with-buttons is-active" id="settings-tab">
<ul class="list-input settings-list">
<form>
     <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
           <label class="label setting-label" for="firstxblockTeaDisplayName_name" style="margin-left:80px;">{% trans "文件名" %}</label>

          <input class="input setting-input firstXBlockTeaDisplayName" value= "{{user_defined_name}}"  type="text" style="width:47%;">  

          <p><span class="tip setting-help noFileNameWarning"></span></p>                                         
          <input class="input setting-input systemGeneratedRandomNameTea" value= {self.systemGeneratedRandomName} type="text" hidden>  
          <input class="input setting-input baidu_doc_id" value= {self.baidu_doc_id} type="text" hidden>
          <br/>

        <input class = "bos_bucket_name"  value = "{{bos_bucket_name}}"  hidden/>
        <input class = "bos_sts_ak" value = "" hidden/>
        <input class = "bos_sts_sk" value = "" hidden/>
        <input class = "bos_sts_token" value = "" hidden/>
        <input class = "bos_endpoint" value = "https://bj.bcebos.com" hidden/>
        <input class = "python_random_name" value = "" hidden/>
        <input class = "bos_sts_handler" value = "" hidden/>
        <input  value = "{self.CMS_ROOT_URL}" hidden/>
    </div>
    </li>

    <li class= "field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
            <label class="label setting-label" style="margin-left:80px;">{% trans "请选择文档文件" %}</label> 
            <input class = "file-upload" type = file name = "file-upload" hidden/>
            <input type="file" id="file" >
            <input type="submit" id = "baidu_submit" hidden/>

        </div>
        <div style="width:100%;">
            <label class="label setting-label no_upload_warning" style="margin-left:80px;font-weight:normal;">{% trans "只支持ppt, excel, word, pdf文件的上传" %}</label>
            <div id = "progress_bar_div" style = "display:none;position:relative;width:48%">
                <p id = "progress_bar_p_up"   class = "progress_bar_p_up" style="position:absolute;"><span id = "progress_value_span" class = "progress_value_span" style="height:22px;line-height:22px;">0.00</span></p>
                <p id = "progress_bar_p_down" class = "progress_bar_p_down" style="float:left"></p>
                <span style="float:left">{% trans "正在上传" %}</span>
            </div>
        </div>
    </li>

        

    <li class="field comp-setting-entry is-set">
        <div class="wrapper-comp-setting">
            <label class="label setting-label" for="pdf_edit_allow_download" style="margin-left:80px;" >{% trans "是否允许文档下载" %}<br>
            <span style="font-weight:normal;">{% trans "允许后，学员将拥有下载文档的权限" %}</span>
            </label>
            <select class="input setting-input firstxblockAllowDownload" style="width:47%;">

                {% if allow_download %}
                    <option value="True"   >{% trans "可下载" %}</option>
                    <option value="False"  >{% trans "不可下载" %}</option>
                {% else %}
                    <option value="False"  >{% trans "不可下载" %}</option>
                    <option value="True"   >{% trans "可下载" %}</option>
                {% endif %}

            </select>


        </div>
    </li>

    <div class="xblock-actions">
        <ul>
            <li class="action-item">
                <a href="#" class="button action-primary save-button">{% trans "保存" %}</a></a>
            </li>
            <li class="action-item">
                <a href="#" class="button  cancel-button">{% trans "取消" %}</a>
            </li>
        </ul>
    </div>
</form>

</ul>
</div>

<!-- 
    <input class="increment_countcontent" value= countcontent type="button" >  
    <input  value= {self.countcontent} type="text" > 
    <br/>
    <input class="increment_countsettings" value= countsettings type="button" >  
    <input  value= {self.countsettings} type="text" > 
    <br/>
    <input class="increment_countuser_state" value= countuser_state type="button" >  
    <input  value= {self.countuser_state} type="text" > 
    <br/>
    <input class="increment_countpreferences" value= countpreferences type="button" >  
    <input  value= {self.countpreferences} type="text" > 
    <br/>
    <input class="increment_countuser_info" value= countuser_info type="button" >  
    <input  value= {self.countuser_info} type="text" > 
    <br/>
    <input class="increment_countuser_state_summary" value= countuser_state_summary type="button" >  
    <input  value= {self.countuser_state_summary} type="text" > 
    <br/>
    <input class="full_access_change_proxy" value= full_access_change_proxy type="button" >
    <br/> 


    baidu_buttons
    bos_bucket_name
    <input class = "bos_bucket_name" value = "testing-yingli" />
    bos_ak
    <input class = "bos_ak" value = "836edb1379674e10bc46db130c11fecd" />
    bos_sk
    <input class = "bos_sk" value = "28f6751772024d54a90daceb417ff320" />
    bos_sts_ak
    <input class = "bos_sts_ak" value = "" />
    bos_sts_sk
    <input class = "bos_sts_sk" value = "" />
    bos_sts_token
    <input class = "bos_sts_token" value = ""/>
    bos_endpoint
    <input class = "bos_endpoint" value = "http://bj.bcebos.com"/>
    python_random_name
    <input class = "python_random_name" value = ""/>
--> 