{% if has_doc %}
    <iframe src= {self.baidu_view_proxy_url_tea}  style = "width:100%;height:750px;">
    </iframe>

    <div>
        <input class = "baidu_processing_status" type = "text" value = {self.baidu_processing_status} hidden />
        <input type = "text" class = "baidu_doc_id_input" value = {self.baidu_doc_id} hidden>   
            {% if allow_download %}
                <p>
                    <a class = "download_link" 
                        href = {self.download_link_tea}  
                        download = {self.system_generated_random_name_extension}>
                        下载文件
                    </a>
                </p>
            {% endif %}
        <!--
            This is for reading the page on the second page.
         <p><a class = "open_baidu_reader" href =  target = "_blank">阅读文件</a></p> 
        -->
    </div>

{% else %}



<h4 class="hd hd-3 problem-header">使用步骤</h4>
<p>点击右上角的“编辑”按钮，弹出编辑框.</p>
<p>输入文档名字，</p>
<p>点击“选择文件”按钮，选择文档文件，</p>
<p>确定是否允许学员下载</p>
<p>点击保存按钮,等待上传完毕。</p>
<p>确定是否允许学员下载，最后点击保存按钮,等待上传完毕。</p>
<p>点右方的“发布”按钮发布文档，发布后，学员可以在学习系统中看到该文档</p>



{% endif %}  

<input class = "system_generated_random_name_extension" value = {self.system_generated_random_name_extension} hidden/>
<input  value = "{self.CMS_ROOT_URL}" hidden/>

<!-- 
    <input class="input setting-input baidu_doc_id" value= {self.baidu_doc_id} type="text" hidden>
    <br/>

    <input class="increment_countcontent" value= countcontent type="button" >  
    <input  value= {self.countcontent} type="text" > 
    <br/>
    <input class="increment_countsettings" value= countsettings type="button" >  
    <input  value= {self.countsettings} type="text" > 
    <br/>
    <input class="increment_countuser_state" value= countuser_state type="button" >  
    <input  value= {self.countuser_state} type="text" > 
    <br/>
    <input class="increment_countpreferences" value= countpreferences type="button" >  
    <input  value= {self.countpreferences} type="text" > 
    <br/>
    <input class="increment_countuser_info" value= countuser_info type="button" >  
    <input  value= {self.countuser_info} type="text" > 
    <br/>
    <input class="increment_countuser_state_summary" value= countuser_state_summary type="button" >
    <input  value= {self.countuser_state_summary} type="text" > 
    <br/>
    <input class="full_access_change_proxy" value= full_access_change_proxy type="button" >
    <br/>

    <p>has_doc:{{has_doc}}</p>


    <p class = "baidu_doc_id">{self.upload_status}  upload_status</p>
    <p class = "baidu_doc_id">{self.bos_status}  bos_status</p>
    <p class = "baidu_doc_id">{self.doc_status}  doc_status</p>
    <p class = "baidu_doc_id">{self.baidu_doc_id}  baidu_doc_id</p>

    <p class = "baidu_doc_id">{self.systemGeneratedRandomName} systemGeneratedRandomName</p>
    <p class = "baidu_doc_id">{self.system_generated_random_name_extension}  system_generated_random_name_extension</p>
    <p class = "baidu_doc_id">{self.systemGeneratedRandomNameAbsPath} systemGeneratedRandomNameAbsPath</p>
    <p class = "baidu_doc_id">{self.allow_download}  allow_download</p>
    <p class = "baidu_doc_id">{self.download_link}  download_link</p>
    <p class = "baidu_doc_id">{self.baidu_doc_id}</p>
    <p class = "baidu_view_proxy_url_tea">baidu_view_proxy_url_tea{self.baidu_view_proxy_url_tea}</p> 
    <p class = "bucket_name">{self.bucket_name}</p> 
-->

